<!DOCTYPE html>
<html lang="en">
<head>
  <title>View Applications</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
</head>
<body>
  <div class="container-fluid">
  {% if 'email' in request.session %} 
  {% if 'Employee' in request.session.role %}
  <nav class="navbar navbar-expand-md bg-info navbar-dark">
  <a class="navbar-brand text-white" href="#"> {{request.session.role}} </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white" href="/home/">{{request.session.email}} </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/view_app/">View Applications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/logout/">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<br>
{{message}}
<h1>Applications</h1>
<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Description</th>
        <th>Leaves Available</th>
        <th>Status</th>
        <th>Applied On</th>
      </tr>
    </thead>
    <tbody>
      {% for app in view_app %}
      <tr>
        <td>{{app.start_date}}</td>
        <td>{{app.end_date}}</td>
        <td>{{app.description}}</td>
        <td>{{app.leave_avail}}</td>
        <td>{{app.status}}</td>
        <td>{{app.applied_on}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>


{%endif%}
{%endif%}
</div>
</body>
</html>